%a#about-me.anchor
%section.about-me
  %h4 About Me
  %p
    I am a web developer living in Manhattan. I currently run
    = link_to "Constant Contact's", 'https://www.constantcontact.com/index.jsp'
    New York development team.

  %p
    I am passionate about creating elegant, maintainable, and intuitive software. I have been building and maintaining production applications since the early 2000's. For the past four years, I have shared my leaning as a mentor of young developers.

  %p
    I specialize in
    = link_to('Ruby On Rails', '#') + ','
    but am proficient in
    = link_to('many languages and frameworks', '#skills') + '.'
