%a#education.anchor
%section.education
  %h4 Education
  %p
    = link_to 'The Colorado College', 'https://www.coloradocollege.edu'
    1991
  %p
    = link_to 'The Cate School', 'http://www.cate.org'
    1989-1991
