
%section.mentoring
  %h4 Mentoring
  %p
    Over the last four years I have lead Constant Contact's New York mentoring program. Our program consists of a six-month, paid apprenticeship with the goal of transitioning to a full-time employee. We select our apprentices from the graduates of Rails boot-camps in NYC and California, primarily the
    = link_to('The Flatiron School', 'https://flatironschool.com', target: '_blank') + '.'

  %p Apprentices are paired with senior developers and begin work on production code immediately. As their skills and understanding of our style and patterns evolve, they are given commensurate autonomy.

  %p The program has been very successful. All of our apprentices matured to fully contributing team members within two to three months of their start date.

  %p Many of our alumni now work on high-profile development teams at companies including The New York Times, MLB, Betterment, Case Commons, and Contently.
