%a#mentoring.anchor
%section.mentoring
  %h4 Mentoring
  %p
    From 2013 to 2016, I lead Constant Contact's New York mentoring program. Our program consisted of a six-month, paid apprenticeship with the goal of transitioning to a salaried employee. We selected our apprentices from the graduates of Rails boot-camps in NYC and California, primarily the
    = succeed '.' do
      = link_to('The Flatiron School', 'https://flatironschool.com', target: '_blank')

  %p Apprentices paired with senior developers and began work on production code immediately. As their skills and understanding of our style and patterns evolved, they were given commensurate autonomy.

  %p The program was very successful. All of our apprentices matured to fully contributing team members within two to three months of their start date.

  %p Many of our alumni now work on high-profile development teams at companies including The New York Times, MLB, Betterment, Case Commons, and Contently.
