%a#mentoring.anchor
%section.mentoring
  %h4 Mentoring
  %p Over the last four years I have lead the mentoring program at Constant Contact. Our program consisted of a six-month, paid apprenticeship with the hope of hiring our graduates as full-time employees. We found our apprentices in various Rails bootcamps in NYC and California, primarly the Flatiron School, now located in Lower Manhattan. All of our apprentices went on to successful careers both in and out Constant Contact. Many now work on high-profile dev teams at companies including The New York Times, MLB, Betterment, Case Commons, and Contently.
