%a#my-path.anchor
%section.my-path
  %h4 My Path
  %p In 1999, when Flash 4 arrived supporting MP3 audio, I decided I would build a career making music for websites - I was a bar tender at the time. I wrote some cool loops and waited for the phone to ring. Predictable, it never range, and I soon realized I would need a website to showcase my work. It quickly became clear that building websites was a more viable path, and over the next few years taught myself to code. I worked my way through every book on every web technology I could find. I attended programming studios.
