%section.print-header.d-none.d-print-block
  = image_tag 'headshot-print.jpg'
  %h2
    Dinshaw Gobhai
    %small.float-right= Rails.application.credentials.domain
  %p.contact
    %small= mail_to 'gobhai@gmail.com', 'gobhai@gmail.com', encode: :javascript
    %small.pull-right 646.239.8325
.clearfix
