%section.print-header.visible-print-block
  %h2.bottom-align-text
    Dinshaw Gobhai
    %small.pull-right.bottom-align-text www.dinshawgobhai.com
  %p.contact
    %small= mail_to 'gobhai@gmail.com', 'gobhai@gmail.com', encode: :javascript
    %small.pull-right 646.239.8325

