%section.print-header.d-print-block.d-none
  = image_tag 'din.jpg'
  %h2.bottom-align-text
    Dinshaw Gobhai
    %small.pull-right.bottom-align-text= ENV['domain']
  %p.contact
    %small= mail_to 'gobhai@gmail.com', 'gobhai@gmail.com', encode: :javascript
    %small.pull-right 646.239.8325

  %p.contact
    %small Call or email for references

.clearfix
