%a#skills.anchor
%section.skills
  %h4 Skills, Languages, Frameworks
  %p I have deep experience with Ruby, PHP, Java, Go, Javascript, HTML, and CSS. Rails has been a my focus for the last ten years. I keep up with emerging technologies and frameworks. I love talking shop, so please don't hesitate to ask me about any other technologies.

%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
