%a#speaking.anchor
%section.speaking
  %h4 Speaking
  %p I have given a few talks over the years. I enjoy speaking about my experiences building software.
  %ul
    %li
      %h6
        = link_to 'Promises in Ruby @ RubyConf 2014', 'https://www.youtube.com/watch?v=hDd6DCDoOs8', target: '_blank'
      %p
        Step-by-step implementation and explanation of
        = link_to 'the promise pattern', 'https://www.promisejs.org/patterns/', target: '_blank'
        in ruby.
      %p.d-print-none
        %iframe{ src: "https://www.youtube.com/embed/hDd6DCDoOs8?enablejsapi=1&origin=http://dinshawgobhai.com", allow: :fullscreen , width: "200", height: "125", frameborder: "0"}
      %p.d-none.d-print-block
        https://www.youtube.com/embed/hDd6DCDoOs8
    %li
      %h6
        %a{ href: 'https://chelseatroy.com/2014/09/05/dinshaw-gobhai/', target: '_blank'}
          Performance talk @ Windy City Rails
          %small (Live blog vesion)
      %p Overview of the challenges faced while scaling the Constant Contact's Contacts 2.0 application.
      %p.d-none.d-print-block
        https://player.vimeo.com/video/106759182
    %li
      %h6
        %a{ href: 'https://flatironschool.com/blog/how-did-we-get-into-this-mess', target: '_blank'}
          Dev to DevOps @ E4E
          %small (Blog version)
      %p An introduction to DevOps, specifically aimed at developers.
