%a#testing-and-automation.anchor
%section.testing-and-automation
  %h4 Testing &amp; Automation
  %p
    Automation (one-button deploy) is essential for teams that want to iterate quickly on complex software. A fully automated deployment pipeline can only be achieved by applications with good test-coverage.
  %p
    Testing code as it is written not only provides us with test-coverage for automation, but also forces clarity of purpose and organization of logic.
