%a#testing-and-automation.anchor
%section.testing-and-automation
  %h4 Testing &amp; Automation
  %p
    I am a devout
    = link_to("TDD'r", 'https://en.wikipedia.org/wiki/Test-driven_development', target: '_blank') + '.'
    All the production code I write has test coverage.
  %p
    Automated deployment can only be achieved by applications with good test-coverage. Automated deployment is essential for teams that want to iterate quickly on complex software.
  %p
    Test-driven development not only provides test-coverage for automation, but also forces clarity and organization.
  %p
    For average Rails projects I use
    = link_to('RSpec', 'http://rspec.info', target: '_blank') + ','
    but I am proficient with most of the common Ruby testing strategies and libraries.
