%a#why-me.anchor
%section.why-me
  %h4 Why Me?
  %p I attribute my success as a developer and leader to simple communication. I believe that even complex systems reduce to concepts and functionality that everyone can understand - end-users, mangers! My ability to code, to manage, and to effectively communicate between the two makes me very helpful
