%a#work-experience.anchor
%section.work-experience
  %h4 Work Experience
  %ul.companies
    %li
      %strong Constant Contact - Advisory Engineer, 2011 - present
      %ul.responsibilities
        %li
          %strong Digital Advertising Services (2015-present):
          Dev-manager, tech-lead, and developer for Constant Contact's new digital advertising tools.
          Primary focus is allowing email marketing customers to place ads on facebook with a single click.
        %li
          %strong Project NEXT (2013-2014):
          Developer on a three person team tasked with conceptualizing and prototyping a new, consolidated content creation work flow for Constant Contact's product offerings including: email marketing, events, local deals, coupons, and social posts.
        %li
          %strong Contacts 2.0 (2011-2013):
          One of four developers on the
          = link_to 'Bantam Live', 'https://techcrunch.com/2009/07/10/bantam-live-the-ultimate-social-real-time-crm/', target: '_blank'
          team,
          = link_to('acquired by Constant Contact', 'https://techcrunch.com/2011/02/16/constant-contact-buys-social-crm-startup-bantam-live-for-15-million-in-cash/', target: '_blank') + ','
          tasked with building a full-featured contact management system. Contacts 2.0 deployed to 500K users after two years of development with a starting volume of over 1 billion records.
    %li
      %strong Bantam Live - Contractor, 2009 - 2011 (Acquired by Constant Contact)
      %p Full stack Ruby on Rails application development. We were a team of four developers building an on-line CRM with  social integrations like an internal Twitter client. Bantam was acquired by my current employer, Constant Contact, to rebuild their contact management system.
    %li
      %strong Behavior Design - Contractor, 2006-2009
      %p Full-stack development. I worked on multiple high profile client sites. Server-side technologies included Ruby on Rails, PHP (Pear, Drupal), and Java.
    %li
      %strong Self employed - Freelance Contractor, 1999-2009
      %ul.responsibilities
        %li
          %strong
            Indirect
            = link_to 'J. D. Edwards', 'http://www.oracle.com/us/products/applications/jd-edwards-world/overview/index.html', target: '_blank'
            contractor:
          I worked with J. D .Edwards contractors to build mobile-friendly web interfaces to the DB2 databases used by the JDE enterprise platform. Rails and Java.
        %li
          %strong Full life-cycle contractor handling everything from sales to development to collections.
          PHP, Rails, and Java.
