body > .container {
  margin-top: 70px;
  @media print {
    margin-top: 0;
  }
}

a.anchor {
    display: block;
    position: relative;
    top: -70px;
    visibility: hidden;
}

section {
  margin-top: 2rem;
  @include clearfix;
}

.sidebar {
  position: fixed;
}
