body {
  // Bootstrap scroll-spy requirement
  position: relative;
}

body > .container {
  margin-top: 60px;
  @media print {
    margin-top: 0;
  }
}

a.anchor {
  display: block;
  position: relative;
  top: -70px;
  visibility: hidden;
}

section {
  margin-top: 2rem;
}

.sidebar {
  @media (min-width: 768px) {
    position: fixed;
  }
}

.content {
  padding-left: 225px;
  @media (max-width: 768px) {
    padding-left: 0;
  }
  @media print {
    padding-left: 0;
  }
}
