@media print {
  .print-header {
    img {
      float: left;
    }
    h2, p {
      margin-left: 110px;
      line-height: 1.8rem;
      small {
        line-height: 1.8rem;
        vertical-align: bottom;
      }
    }
  }

  section {
    page-break-inside: avoid;
  }
}

