%nav.navbar.navbar-toggleable-md.fixed-top.navbar-inverse.bg-inverse
  %button.navbar-toggler.navbar-toggler-right{"data-target" => "#main-nav", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  %a.navbar-brand{:href => "#"} Dinshaw
  #main-nav.collapse.navbar-collapse
    %ul.navbar-nav.nav-pills.mr-auto
      %li.nav-item
        %a.nav-link{ href: '#about-me' }
          About Me
      %li.nav-item
        %a.nav-link{ href: '#work-experience' }
          Work Experience
      %li.nav-item
        %a.nav-link{ href: '#mentoring' }
          Mentoring
      %li.nav-item
        %a.nav-link{ href: '#skills' }
          Skills
    %ul.navbar-nav.pull-right
      %li.nav-item.email
        %a.nav-link{ href: 'mailto:gobhai@gmail.com' } gobhai@gmail.com
      %li.nav-item
        %a.nav-link 646.239.8325
