%nav.navbar.navbar-toggleable-md.fixed-top.navbar-inverse.bg-inverse.hidden-print
  %button.navbar-toggler.navbar-toggler-right{"data-target" => "#main-nav", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  %a.navbar-brand{:href => "#"} Dinshaw Gobhai
  #main-nav.collapse.navbar-collapse
    %ul.navbar-nav.nav-pills.mr-auto
      %li.nav-item
        %a.nav-link{ href: '#about-me' }
          About Me
      %li.nav-item
        %a.nav-link{ href: '#work-experience' }
          Work Experience
      %li.nav-item
        %a.nav-link{ href: '#speaking' }
          Speaking
      %li.nav-item
        %a.nav-link{ href: '#testing-and-automation' }
          Testing &amp; Automation
      %li.nav-item
        %a.nav-link{ href: '#mentoring' }
          Mentoring
      %li.nav-item
        %a.nav-link{ href: '#skills' }
          Skills
