%nav#main-nav.navbar.navbar-expand-lg.fixed-top.navbar-dark.navbar-inverse.bg-inverse.d-print-none
  %button.navbar-toggler{ data: { target: '#main-nav-nav', toggle: :collapse, type: :button } }
    %span.navbar-toggler-icon
  %a.navbar-brand{href: '/'} Dinshaw Gobhai
  .collapse.navbar-collapse#main-nav-nav
    %ul.navbar-nav.nav-tabs.mr-auto
      %li.nav-item
        %a.nav-link{ href: '#about-me' }
          About Me
      %li.nav-item
        %a.nav-link{ href: '#skills' }
          Skills
      %li.nav-item
        %a.nav-link{ href: '#work-experience' }
          Work Experience
      %li.nav-item
        %a.nav-link{ href: '#speaking' }
          Speaking
      %li.nav-item
        %a.nav-link{ href: '#testing-and-automation' }
          Testing &amp; Automation
      %li.nav-item
        %a.nav-link{ href: '#mentoring' }
          Mentoring
